@charset "utf-8";
.buy_header .logo{
    padding: 0;
}
.buy_header .logo .back{
    width: 50px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
}
.buy_header .logo h1{
    width: 100%;
    padding: 0 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 44px;
}